body {
  font-family: "Poppins", sans-serif;
}
p {
  margin: 0;
  padding: 0;
}

.forget-btn,
.reset-btn {
  transition: 0.3s ease-in-out all;
}

.forget-btn:hover {
  background-color: #cbcbd0 !important;
}
.reset-btn:hover {
  background-color: #362b9b !important;
}

.form-icon {
  position: relative;
  animation-name: movementIcon;
  transform: translateX(0px);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes movementIcon {
  50% {
    transform: translateX(160px);
  }
  100% {
    transform: translateX(0px);
  }
}
